jupyter
python-dotenv~=0.21.0
pydantic~=1.10.2


# Environment specific..
# tensorflow

# Note: this requires the rust tool chain, m1 setup: https://sourabhbajaj.com/mac-setup/Rust/
transformers~=4.22.2
datasets >= 1.8.0
sentencepiece != 0.1.92


Django>=4.1.2
django-autocomplete-light>=3.9.4
djhacker>=0.2.3
fastapi~=0.81
pydantic~=1.10
uvicorn[standard]~=0.18
starlette~=0.20.4


pandas~=1.5
numpy~=1.23.3
setuptools~=65.4.0
requests~=2.28.1